.paragraph-body{
    background-color: lightgray;
    border: 3px solid darkgray;
    padding: 10px;
    padding: 3%;
    margin: 0%;
}
.mainBox{
    text-align: center;
    width: 1000px;
    border:10px darkblue;
    padding: 0%;
    margin: auto;

}
.introPicture{
    width: auto;
    height: 600px;
    float: left;
    padding: 0%;
    margin: 0%;
    border: 20px;
    border-color: black;
    border-style: groove;
}
address{
    text-align: center;
}
p{
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
